@import 'mainColors';
@import 'mixins';

#about {
  padding-top: 10px;
  width: 100%;
  background-color: #090c15;
  color: $colorWhite;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  #about-background {
    position: absolute;
    z-index: 100;
    background-image: url(/image/about-background.png);
    // background-position: center;
    background-position-y: -120px;
    height: 100%;
    width: 100%;
    opacity: 0.07;
  }
  #about-h1 {
    padding-bottom: 30px;
    font-size: 45px;
    padding-top: 70px;
    font-family: Henny + Penny;
    @include mediaQueryTablets() {
      font-size: 3.5em;
    }
  }

  .text-contect {
    font-size: 12px;
    line-height: 15px;

    width: 80%;
    font-family: sans-serif;
    color: $colorWhite;
    text-align: center;
  }

  .mayorcard {
    margin-top: 70px;
    max-width: 280px;
    max-height: 80%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
    background-color: $colorWhite;

    h1 {
      padding-top: 20px;
      color: $colorPurple;
      font-size: 24px;
      font-family: Henny + Penny;
    }
    h3 {
      color: #aa0a8a;
      font-size: 14.5px;
    }
    img {
      width: 80%;
      padding: 15px 0;
      display: block;
      margin: auto;
    }

    p {
      color: #5c6063;
      font-size: 15px;
      font-family: Henny + Penny;
    }

    .mayorcard-text {
      z-index: 30;
      margin: auto;
      width: 80%;
    }

    #mayorcard-icons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .card-icon {
        color: #696969;
        font-size: 20px;
        border: solid 1px rgba($color: #696969, $alpha: 0.2);
        border-radius: 3px;
        padding: 2px 6px;
        margin: 0 1px;
        &:hover,
        &:active {
          color: #d9638a;
        }
      }
    }
  }
}
