@import 'mixins';

.contact-us-wrapper {
  @include mediaQueryTablets() {
    height: 100%;
    display: flex;
    margin: 10px;
    iframe {
      height: 100%;
    }
  }
  #contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-top: 100px;
      color: #571d62;
      font-family: Henny + Panny;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      width: 80%;
      margin-bottom: 50px;
    }
    #contact-us-form {
      width: 90%;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    label {
      z-index: 40;
      font-size: 0.9em;
      font-weight: 600;
      color: grey;
      position: absolute;
      display: none;
    }
    button {
      background-color: #aa0a5f;
      color: white;
      border: 0;
      border-radius: 5px;
      height: 40px;
      margin-bottom: 50px;
      font-size: 0.9em;
      font-weight: 600;
    }
    input,
    textarea {
      font-size: 0.9em;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border: none;
      border-bottom: 1px solid rgb(206, 203, 203);
      &::placeholder {
        font-weight: 600;
      }
    }
  }

  #google-map {
    width: 100%;
  }
}
